html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, code,del, dfn, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td ,hr {margin:0; padding:0;}
ol, ul, li {list-style:none;margin:0;padding:0;}
body{font-size:16px;}
a{text-decoration: none;color:#878787;}

.App{
  background:#f2ebe6;
}

.inner{
  width:100%;
  margin:0 auto;
}

.felxBox{
  display:flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

div{position: relative;font-family: 'Black Han Sans', sans-serif;}
button{border:none;background:none;cursor:pointer;}

/* PC , TABLET */
@media (min-width : 961px ) {
  
  .main{
    background:#fff;
    max-width:1450px;
    margin:115px auto 0;
  }

  .menu{
    background:#fff;
    padding:25px 10px 0;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    box-shadow: 0 1px 5px 0 #ccc;
    z-index:9999;
  }
  
  .menu h1{width:85px;padding-bottom:14px;}
  .menu h1 a{display:block;}
  .menu h1 a img{display:block;width:100%;}

  .menu .menu_inner{
    width:100%;
    max-width:1200px;
    margin:0 auto;
  }

  .menu .menu_list{
    width: calc(100% - 85px);
    width: -moz-calc(100% - 85px);
    width: -webkit-calc(100% - 85px);
    width: -o-calc(100% - 85px);
  }

  .menu .menu_list ul.main_menu{
    position: absolute;
    top:24px;
    left:0;
    padding-left:60px;
    width: calc(100% - 130px);
    width: -moz-calc(100% - 130px);
    width: -webkit-calc(100% - 130px);
    width: -o-calc(100% - 130px);
    max-width: 850px;
    min-width:580px;
    z-index:100;
  }
  .menu .menu_list ul.main_menu > li{
    position: relative;
    width:25%;
  }
  .menu .menu_list ul.main_menu > li > button{
    display:block;
    color:#000;
    font-size:1.4em;
    letter-spacing: -0.08em;
    padding-bottom:21px;
    font-family: 'Black Han Sans', sans-serif;
  }
  .menu .menu_list ul.main_menu > li > button > img{

  }
  .menu .menu_list .delivery_icon{
    width:160px;
    background:url("/images/deliveryIcon.png") no-repeat center center;
    border:none;
    text-indent:-9999em;
    height:50px;
    background-size:100% 100%;
    position: absolute;
    top:10px;
    right:0;
    cursor:pointer;
    z-index:101;
  }

  
  .menu.open{
    padding-bottom:240px;
    z-index:100;
  }

  .menu.open ul.sub_menu{display:block;}
  .menu ul.sub_menu{
    min-height:240px;
    display:none;
    background:#fff;
    position: absolute;
    top:100%;
    left:0;
    min-width:100%;
    z-index:100;
  }
  .menu .menu_list ul.sub_menu li{
    width:100%;
  }
  .menu .menu_list ul.sub_menu li button{
    display:block;
    font-size:0.9em;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Gothic A1', sans-serif;
    color:#000;
    font-weight:bold;
    letter-spacing: -0.1em;
    padding:2px 10px;
  }

  .menu_bg{
    position: absolute;
    bottom:0;
    right:0;
    z-index:300
  }

  .banner{}
  .banner > div{}
  .banner > div > div{}
  .banner > div > div > img{
    display:block;
    width:100%;
  }

  .video{}
  .video iframe{margin-top:-8px;}

  .sns_button{
    margin-top:-8px;
    background:#683a2f;
  }

  .sns_inner{
    width:100%;
    min-width:1210px;
  }
  .sns_inner > div{
    width: calc(100% / 3);
  }
  .sns_inner > div > a{
    display:block;
    padding:20px 0 55px 180px;
    
  }
  .sns_inner > div > a span{
    display:inline-block;
    border-radius: 5px;
    padding: 3px 5px 3px 40px;
    font-size:1em;
    font-weight:bold;
    letter-spacing: -0.09em;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Do Hyeon', sans-serif;
    background-repeat:no-repeat;
    background-position:left 5px center;
    background-size:35%;
  }
  .sns_inner > div > a span.title{
    color:#fff;
    font-size:1.5em;
    display:block;
    padding-left:46px;
  }
  .sns_inner > div > a span.status{
    background-color:#fff;
    color:#333;
    margin-left:45px;
    padding-right:15px;
  }
  .sns_inner > div.youtube span.status{background-image:url("/images/sns_youtube.png");}
  .sns_inner > div.facebook span.status{background-image:url("/images/sns_facebook.png");background-size:22%;}
  .sns_inner > div.instagram span.status{background-image:url("/images/sns_instagram.png");background-size:20%;}
  
  .sns_inner > div.youtube > a{background:url("/images/youtube.png") no-repeat left 100px top 25px;background-size:110px;}
  .sns_inner > div.facebook > a{background:url("/images/youtube.png") no-repeat left 100px top 25px;background-size:110px;}
  .sns_inner > div.instagram > a{background:url("/images/instargram.png") no-repeat left 100px top 25px;background-size:110px;}


}






/* MOBILE */
@media (max-width : 960px ) {
  
  .main{
    background:rgb(22, 18, 255);
  }

}